/* =======================
    Navigtion bar
   ======================= */

   .nav-link{
    color: black
}

a{
    width: fit-content;
    padding: .5em 1em;
    color: limegreen;;
    font-size: 2rem;
    transition: ease-in .25s;
    text-decoration: none;
    text-align: center;
}
a:hover{
    box-shadow: 0 .5em 3px 0 #222222;
    text-decoration: none;
    color: greenyellow;
    border-radius: 5px;
}
a:focus{
    text-decoration: none;
    color: greenyellow;
    border-radius: 5px;
}
.footer-social-links a,
.footer-nav a{
    padding: 0.12em 0;
}

.copy-right a{
    font-size: 1rem;
    color: lightslategray;
}